<div class="row marks">

  <div class="col s8 offset-s2">
    <p class="title"><%= @mark.name %></p>
  </div>

  <div class="mark">
    <div class="row cards">
      <div class="col s8 offset-s2">
        <div class="card horizontal">
          <div class="card-content col s12">
              <div class="row">
                <div class="row">
                  <div class="col s12 l3">
                    <p><b>Mês referencia</b></p>
                    <p><%= @mark.month.strftime("%B") %></p>
                  </div>
                  <div class="col s12 l3">
                    <p><b>Data de início</b></p>
                    <p><%= @mark.start_date %></p>
                  </div>
                  <div class="col s12 l3">
                    <p><b>Data final</b></p>
                    <p><%= @mark.end_date %></p>
                  </div>
                  <div class="col s12 l3">
                    <p><b>Valor</b></p>
                    <p><%= number_to_currency(@mark.value) %></p>
                 </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <% @mark.daily_marks.each do |daily_mark| %>
      <div class="col s8 offset-s2">
        <p class="title">Meta <%= daily_mark.date %> - <%= number_to_currency(daily_mark.value)%> </p>
      </div>

      <div class="store">
        <div class="row cards">
          <div class="col s8 offset-s2">
            <div class="card horizontal">
              <div class="card-content col s12">
                <div class="row">
                  <div class="row">
                      Vendedor
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row btn-actions">
     <div class="col s12 center">
       <div class="col s12">
         <a href="/stores/<%= @mark.store.id %>" class= "waves-effect waves-light btn blue">
           <i class="material-icons left">arrow_back</i>
           Voltar
         </a>
       </div>
     </div>
    </div>

</div>
