<div class="row marks">

  <div class="col s8 offset-s2">
    <p class="title">Meta <%= @mark.name %></p>
  </div>

  <div class="mark">
    <div class="row cards">
      <div class="col s8 offset-s2">
        <div class="card horizontal">
          <div class="card-content col s12">
              <div class="row">
                <div class="row">
                  <div class="col s12 l3">
                    <p><b>Mês referencia</b></p>
                    <p><%= @mark.month.strftime("%B") %></p>
                  </div>
                  <div class="col s12 l3">
                    <p><b>Data de início</b></p>
                    <p><%= @mark.start_date %></p>
                  </div>
                  <div class="col s12 l3">
                    <p><b>Data final</b></p>
                    <p><%= @mark.end_date %></p>
                  </div>
                  <div class="col s12 l3">
                    <p><b>Valor</b></p>
                    <p><%= number_to_currency(@mark.value) %></p>
                 </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <%= form_for @mark, url: update_daily_marks_path(id_store: @mark.store.id, id: @mark.id) do |m| %>

      <%= m.fields_for :daily_marks do |d| %>
        <div class="col s8 offset-s2">
          <p class="title">Meta <%= d.object.date %> - <%= number_to_currency(d.object.value)%> </p>
        </div>

        <div class="store">
          <div class="row cards">
            <div class="col s8 offset-s2">
              <div class="card horizontal">
                <div class="card-content col s12">
                  <div class="row">
                    <div class="row">
                      <table class = "striped centered responsive-table">
                         <tbody>

                              <% if d.object.sellers.any? %>
                                <%= d.fields_for :sellers do |seller| %>
                                  <tr>
                                     <td><%= truncate(seller.object.name, length: 30, omission: '...') %></td>
                                  </tr>
                                <% end %>
                              <% end %>
                              <tr>
                                <td>
                                  <%= d.collection_select :new_seller_id, @sellers, :id, :name, { prompt: "Escolha um vendedor", selected: nil }, { onchange: "this.form.submit()", class: "browser-default" }%>
                                </td>
                              </tr>

                            <tr>
                              <td>

                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="row btn-actions">
     <div class="col s12 center">
       <div class="col s6">
         <%= button_tag type: "submit", class: "btn waves-effect waves-light blue", role: "button" do %>
           <i class="material-icons left">save</i>Salvar
         <% end %>
       </div>
       <div class="col s6">
         <a href="/stores/<%= @mark.store.id %>" class= "waves-effect waves-light btn blue">
           <i class="material-icons left">arrow_back</i>
           Voltar
         </a>
       </div>
     </div>
    </div>
</div>
