<div class="row marks">

  <div class="col s8 offset-s2">
    <p class="title"><%= @mark.name %></p>
  </div>

  <div class="mark">
    <div class="row cards">
      <div class="col s8 offset-s2">
        <div class="card horizontal">
          <div class="card-content col s12">
              <div class="row">
                <div class="row">
                  <div class="col s12 l3">
                    <p>Mês referencia <%= @mark.month %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 l3">
                    <p>Data de início <%= @mark.start_date %></p>
                  </div>
                  <div class="col s12 l3">
                    <p>Data final <%= @mark.end_date %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 l3 input-field">
                    <p>Data de início <%= number_to_currency(@mark.value) %></p>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% @mark.daily_marks.each do |daily_mark| %>
      <div class="col s8 offset-s2">
        <p class="title">Meta <%= daily_mark.date %> - <%= number_to_currency(daily_mark.value)%> </p>
      </div>

      <div class="store">
        <div class="row cards">
          <div class="col s8 offset-s2">
            <div class="card horizontal">
              <div class="card-content col s12">
                <div class="row">
                  <div class="row">
                    Teste
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row btn-actions">
     <div class="col s12 center">
       <div class="col s12">
         <a href="/stores" class= "waves-effect waves-light btn blue">
           <i class="material-icons left">arrow_back</i>
           Voltar
         </a>
       </div>
     </div>
    </div>

</div>
