<div class="row stores">
  <div class="col s12">
    <p class="title">Lojas</p>
  </div>

  <div class="row cards">
    <div class="col s12">
      <% if @stores.any? %>
        <% @stores.each do |store| %>
          <div class="card horizontal">
            <div class="card-content col s12">
              <div class="col s12 l8 m12">
                <div class="row">
                  <div class="col s8 m10 l9">
                    <p class="title"><%= truncate(store.name, length: 30, omission: '...') %></p>
                  </div>
                  <div class="col s2 m1">
                    <a href='<%= "/stores/#{store.id}/edit" %>' >
                      <i class="material-icons icon">edit</i>
                    </a>
                  </div>
                  <div class="col s2 m1">
                    <a data-confirm="Você tem certeza?" rel="nofollow" data-method="delete" href='<%= "/stores/#{store.id}" %>'>
                      <i class="material-icons icon">delete</i>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m12 l9">
                    <p>Total de vendedores <b><%= store.sellers.count %></b></p>
                  </div>
                </div>
              </div>
              <div class="col l4 s12 m12 center enter">
                <div class="row">
                  <div class="col s12">
                    <a class="waves-effect waves-light btn blue" href='<%= "/stores/#{store.id}" %>'>Entrar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Você ainda não possui nenhuma loja cadastrada!</p>
      <% end %>
    </div>
  </div>

  <div class="fixed-action-btn stores-btn">
    <%= form_tag("/stores/new", method: "get") do %>
      <button id="adicionar-store" class="btn-floating btn-large blue pulse" type="submit">
        <i class="large material-icons">add</i>
      </button>
    <% end %>
  </div>


</div>
