<div class="row stores">

  <div class="col s8 offset-s2">
    <p class="title"><%= @store.name %></p>
  </div>

  <div class="col s8 offset-s2">
    <p class="title">Vendedores</p>
  </div>

  <div class="store">
    <div class="row cards">
      <div class="col s8 offset-s2">
        <div class="card horizontal">
          <div class="card-content col s12">
            <div class="row">
                <table class = "striped centered responsive-table">
                   <tbody>
                    <% @store.sellers.each do |seller| %>
                      <tr>
                         <td><%= truncate(seller.name, length: 30, omission: '...') %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s8 offset-s2">
      <p class="title">Metas</p>
    </div>

    <div class="store">
      <div class="row cards">
        <div class="col s8 offset-s2">
          <div class="card horizontal">
            <div class="card-content col s12">
                <div class="row">
                  <% if @store.marks.any? %>
                    <table class = "striped responsive-table">
                       <thead>
                          <tr>
                             <th></th>
                             <th>Data início</th>
                             <th>Data fim</th>
                             <th>Valor</th>
                             <th></th>
                             <th></th>
                             <th></th>
                          </tr>
                       </thead>

                       <tbody>

                      <% @store.marks.each do |mark| %>
                        <tr>
                           <td><%= truncate(mark.name, length: 30, omission: '...') %></td>
                           <td><%= (mark.start_date)? mark.start_date.strftime("%d/%m/%y") : '' %></td>
                           <td><%= (mark.end_date)? mark.end_date.strftime("%d/%m/%y") : '' %></td>
                           <td><%= number_to_currency(mark.value) %></td>
                           <td>
                             <a href='<%= "/marks/#{mark.id}" %>'>
                               <i class="material-icons icon">assignment</i>
                             </a>
                           </td>
                           <td>
                             <a href='<%= "/marks/#{@store.id}/edit/#{mark.id}" %>' >
                               <i class="material-icons icon">edit</i>
                             </a>
                           </td>
                           <td>
                             <a data-confirm="Você tem certeza?" rel="nofollow" data-method="delete" href='<%= "/marks/#{mark.id}" %>'>
                               <i class="material-icons icon">delete</i>
                             </a>
                           </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  <% else %>
                    <p> Não existem metas cadastradas!</p>
                  <% end %>
                </div>
                <div class="row">
                  <div class="col s12">
                    <a class="btn-floating btn-small blue" href='<%= "/marks/#{@store.id}/new" %>'>
                        <i class="large material-icons">add</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row btn-actions">
     <div class="col s12 center">
       <div class="col s12">
         <a href="/stores" class= "waves-effect waves-light btn blue">
           <i class="material-icons left">arrow_back</i>
           Voltar
         </a>
       </div>
     </div>
    </div>


</div>
